body {
  background: #262a42;
  color: #d6eaf3;

  font-family: "Arvo";
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
  align-items: center;
}

h1 {
  font-size: 65px;
  text-shadow: 3px 0 #d6005a;
}

#drum-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.drum-item {
  /* Layout */
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Design */
  border-radius: 8px;
  border: solid 10px #393f5b;
  background-color: #d6eaf3;
  cursor: pointer;

  /* Typography */
  font-size: 60px;
  font-weight: bold;
  color: #d6005a;
  text-shadow: 3px 0 #d6eaf3;

  /* Background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

footer {
  font-family: "Indie Flower", sans-serif;
  color: #d6eaf3;
  font-size: 20px;
}

footer a {
  color: #d6eaf3b6;
  text-decoration: none;
}

/* Setting the Drum Background Colours */
.w {
  background-image: url("images/snare.png");
}

.a {
  background-image: url("images/tom1.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/kick.png");
}

.j {
  background-image: url("images/tom4.png");
}

.k {
  background-image: url("images/tom2.png");
}

.l {
  background-image: url("images/crash.png");
}